
         div{
            display: block;
            margin: 10px;
        }

        label{
            display:block;
        }

        nav{
            background-color:#DAE6F0;
            color:#223654;
        }

        input, select{
            display: block;
            margin: 10px;
        }

        

        form{
            border:2px dashed #DAE6F0;
            margin:2rem 25% 2rem 25%; 
        }

     

        form{
            display: flex;
            flex-direction:column;
        }

      

    
       
   
    
    
        